p {
    color: red;
    text-align: center;
    background-color: blue;
    background-image: ;
    border: 0cqh;
    border-color: aqua;

}
h1{}
h2{}

/* inline/internal/external */
/* Usually CSS files are called styles.css */

